// Colors
$primary:#003cb4;
$background: #fff;
$text: #333;
$outline: #ddd;
$radius: 4px;
$gameGridColumns: 4;

// Typography
$ff: FrutigerLTPro;
$fs_h2: 2.4rem;
$fs_text: 1.6rem;

// Breakpoints
$xs: 512px;
$s: 768px;
$m: 1024px;
$l: 1220px;
$xl: 1440px;
